option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: aws
    DEMO_DATA_ENABLED: "true"
    MAIL_DELIVERY_ENABLED: "false"
    MAIL_HEALTH_ENABLED: "false"
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /actuator/health
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
